{% extends 'base.html' %}

{% block container %}

<div class="row justify-content-center">
    <div class="card mb-3 mt-4 ps-0" style="max-width: 750px;">
      <div class="row g-0">
        <div class="col-md-5">
          <img
            src={{ personaje.image }}
            class="img-fluid rounded-start"
            alt="..." style="height: 100%;"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="card-title mb-0 text-center">{{ personaje.name }}</h1>
            <h4 class="card-subtitle mb-1 text-muted text-center">
                {% if personaje.status=="Alive" %}
                  {% set clase = "text-success" %}
                {% elif personaje.status=="Dead" %}
                  {% set clase = "text-danger" %}
                {% else %}
                  {% set clase = "text-warning" %}
                {% endif %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                fill="currentColor"
                class="bi bi-circle-fill {{ clase }}"
                viewBox="0 0 16 16"
              >
                <circle cx="8" cy="8" r="8" />
              </svg>
             {{ personaje.status }} - {{ personaje.species }} - {{ personaje.gender }}
            </h4>

            <p class="card-text mb-0">
                <span class="text-muted text-decoration-underline">Origin:</span><br>
                <strong>{{ personaje.origin }}</strong>
            </p>
            <p class="card-text mb-2 mt-2">
              <span class="text-muted text-decoration-underline">Last know location:</span><br>
                <strong> {{ personaje.location }}</strong>
            </p>
            <p class="card-text mb-2">
              <span class="text-muted text-decoration-underline">First seen in:</span><br>
                <strong> {{ personaje.firstSeen }}</strong>
            </p>
            <div class="text-center mt-4"><a href="{{ url_for('perfil_ruta.episodio',id=1) }}" class="btn btn-primary">Regresar</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}