<html lang="en">

<head>
    <meta charset="utf-8">

    <title>profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
    
    <img src="{{personaje.image}}">
    <br>
    <ul>
        
        name: {{personaje.name}}<br>
        status: {{personaje.status}}<br>
        species: {{personaje.species}}<br>
        type: {{personaje.type}}<br>
        gender: {{personaje.gender}}<br>
        origin: {{personaje.origin}}<br>
        location: {{personaje.location}}<br>
        <br>
        <br>
</body>

</html>